/* @media (prefers-color-scheme: light) { */
:root {
  --prim-fg: #444444;
  --prim-bg: #f2f2f2;
  --prim-ac: #555555;
  --sec-fg: #333333;
  --sec-bg: #d3d3d3;
  --sec-ac: #555555;
  --info-bg: lightblue;
  --info-fg: blue;
  --warn-bg: lightyellow;
  --warn-fg: green;
  --error-bg: pink;
  --error-fg: darkred;
  --spoil-fg: #443231;
  --spoil-bg: #e2c49c;
}
/* } */
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --prim-fg: #eeeeee; */
/*     --prim-bg: #333333; */
/*     --prim-ac: #cccccc; */
/*     --sec-fg: #dddddd; */
/*     --sec-bg: #222222; */
/*     --sec-ac: #b9b9b9; */
/*     --info-bg: darkblue; */
/*     --info-fg: lightblue; */
/*     --warn-bg: darkgreen; */
/*     --warn-fg: yellow; */
/*     --error-bg: darkred; */
/*     --error-fg: pink; */
/*     --spoil-fg: #e2c49c; */
/*     --spoil-bg: #443231; */
/*   } */
/* } */
body {
  margin: 8% auto;
  padding: 4%;
  background: var(--prim-bg);
  color: var(--prim-fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.7em;
  max-width: 69%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

@media (pointer: none), (pointer: coarse) {
  body {
    line-height: 1.5em;
    max-width: 80%;
    font-size: 1.05em;
  }
  header h2 {
    display: none;
  }
}
header {
  display: flex;
  padding-block: 1em;
  justify-content: center;
}
header h2 {
  position: relative;
  left: 2%;
}
header h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
header img {
  border: 0.18em solid var(--prim-ac);
  border-radius: 50%;
  width: 3.8em;
  height: 3.8em;
}
nav {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  height: 1.6em;
  line-height: 2em;
  margin-bottom: 1.6em;
  justify-content: space-evenly;
}
article {
  padding-inline: 0.5em;
}
footer {
  font-size: 0.75em;
  line-height: 1em;
  padding-top: 0.25em;
  text-align: center;
}
a {
  text-decoration: none;
  border-bottom: 0.06em solid var(--prim-ac);
  color: var(--prim-fg);
}
a:hover {
  border-bottom: 0.06em dotted var(--prim-ac);
}
blockquote {
  margin: 0.5em;
  padding-inline: 0.5em;
  border-inline-start: 0.25em solid var(--prim-ac);
  background: var(--sec-bg);
}
code {
  font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  background: var(--sec-bg);
  padding: 0.1em;
}
table {
  margin: 0.5em;
  background: var(--sec-bg);
  border: 2px solid var(--prim-ac);
  border-collapse: collapse;
}
td,
th {
  border: 1px solid var(--prim-ac);
  padding: 4pt;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.spoiler {
  margin: 0.5em;
  padding: 0.05em;
  border-inline-start: 4px solid var(--spoil-fg);
  background: var(--spoil-bg);
  color: var(--spoil-fg);
}
.spoiler:not(:hover) {
  color: transparent;
}
details {
  margin: 0.5em;
  border-inline-start: 4px solid var(--spoil-fg);
  background: var(--spoil-bg);
  color: var(--spoil-fg);
}
summary {
  padding: 0.15em;
  cursor: pointer;
}
details summary > * {
  display: inline; /*fix block elems*/
}
details > p {
  padding-left: 1em;
}
.info,
.warning,
.error {
  margin: 0.5em;
  padding-inline-start: 0em;
  padding: 0.35em;
}
.info:before,
.warning:before,
.error:before {
  float: right;
  font-size: 3em;
  padding: 0.2em;
}
.info:before {
  content: "★";
}
.warning:before {
  content: "⚠";
}
.error:before {
  content: "⚑";
}
.info {
  border-inline-start: 4px solid var(--info-fg);
  background: var(--info-bg);
  color: var(--info-fg);
}
.warning {
  border-inline-start: 4px solid var(--warn-fg);
  background: var(--warn-bg);
  color: var(--warn-fg);
}
.error {
  border-inline-start: 4px solid var(--error-fg);
  background: var(--error-bg);
  color: var(--error-fg);
}
