:root {
    --prim-fg: #52598F;
    --prim-bg: #E9E9F0;
    --prim-ac: #757DB3;
    --sec-fg: #6E8CB6;
    --sec-bg: #D9E3F0;
    --sec-ac: #52598F;
    --info-bg: #A0C0D9;
    --info-fg: #F0F5FA;
    --warn-bg: #D9C1E8;
    --warn-fg: #52598F;
    --error-bg: #F1C2D1;
    --error-fg: #8F5E5E;
    --spoil-fg: #D9C1E8;
    --spoil-bg: #6E8CB6;

    --tokyo-night-1: #001848;
    --tokyo-night-2: #004267;
    --tokyo-night-3: #007396;
    --tokyo-night-4: #00a0c6;
    --tokyo-night-5: #9dd9d2;
    --tokyo-night-6: #f2d492;
    --tokyo-night-7: #e5a9b1;
    --tokyo-night-8: #c83e4d;

    /* #a6445d */
    /* #021c41 */
    /* #142f40 */
    /* #d89b65 */
    /* #bf835f */
  }

body {
  margin: 5% auto;
  margin-left: 28%;
  margin-right: 8%;

  padding: 4%;
  background: var(--prim-bg);
  color: var(--prim-fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.7em;
  max-width: 69%;
  box-shadow: 0 5px 7px var(--tokyo-night-8), 0 15px 40px var(--tokyo-night-3);
}

header {
  display: flex;
  padding-block: 1em;
  justify-content: center;
}
header h2 {
  position: relative;
  left: 2%;
}
header h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
header img {
  border: 0.18em solid var(--prim-ac);
  border-radius: 50%;
  width: 3.8em;
  height: 3.8em;
}

article {
  padding-inline: 0.5em;
  margin: 8% auto;
  padding: 4%;
  background: var(--prim-bg);
  color: var(--prim-fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.7em;
  max-width: 69%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

.main {
  margin: auto;
  padding-inline: 0.5em;
  padding: 4%;
  background: var(--prim-bg);
  color: var(--prim-fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.7em;
  max-width: 69%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}

footer {
  font-size: 0.75em;
  line-height: 1em;
  padding-top: 0.25em;
  text-align: center;
}
a {
  text-decoration: none;
  border-bottom: 0.06em solid var(--prim-ac);
  color: var(--prim-fg);
}
blockquote {
  margin: 0.5em;
  padding-inline: 0.5em;
  border-inline-start: 0.25em solid var(--prim-ac);
  background: var(--sec-bg);
}
code {
  font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  background: var(--sec-bg);
  padding: 0.1em;
}
table {
  margin: 0.5em;
  background: var(--sec-bg);
  border: 2px solid var(--prim-ac);
  border-collapse: collapse;
}
td,
th {
  border: 1px solid var(--prim-ac);
  padding: 4pt;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.spoiler {
  margin: 0.5em;
  padding: 0.05em;
  border-inline-start: 4px solid var(--spoil-fg);
  background: var(--spoil-bg);
  color: var(--spoil-fg);
}
.spoiler:not(:hover) {
  color: transparent;
}
details {
  margin: 0.5em;
  border-inline-start: 4px solid var(--spoil-fg);
  background: var(--spoil-bg);
  color: var(--spoil-fg);
}
summary {
  padding: 0.15em;
  cursor: pointer;
}
details summary > * {
  display: inline; /*fix block elems*/
}
details p {
  /* TODO: why the FUCK is this needed?? */
  margin: 0.1em;
  margin-left: 1em;
}
.info,
.warning,
.error {
  margin: 0.5em;
  padding-inline-start: 0em;
  padding: 0.35em;
}
.info:before,
.warning:before,
.error:before {
  float: right;
  font-size: 3em;
  padding: 0.2em;
}
.info:before {
  content: "★";
}
.warning:before {
  content: "⚠";
}
.error:before {
  content: "⚑";
}
.info {
  border-inline-start: 4px solid var(--info-fg);
  background: var(--info-bg);
  color: var(--info-fg);
}
.warning {
  border-inline-start: 4px solid var(--warn-fg);
  background: var(--warn-bg);
  color: var(--warn-fg);
}
.error {
  border-inline-start: 4px solid var(--error-fg);
  background: var(--error-bg);
  color: var(--error-fg);
}

.blogentry {
  padding: 0em;
  margin: 0.5em;
  border-inline-start: 0.25em solid var(--prim-ac);
  background: var(--sec-bg);
  /* border-inline-start: 0.25em solid gold; */
  /* background: lightyellow; */
}
.bloglink {
  padding-inline: 1em;
  font-weight: bold;
}
.blogdetails {
  margin: 1.5em;
  padding: 0.3em;
  padding-inline: 0.5em;
  /* border-inline-start: 0.25em solid var(--prim-ac); */
  /* background: var(--sec-bg); */
}

nav {
  height:100%;
  width: 20%;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: var(--tokyo-night-2);

  overflow-x: hidden;
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;

}

nav > a {
  border-bottom: 3px solid var(--tokyo-night-3);
  color: var(--tokyo-night-4);
  padding-top: 20%;
  padding-left: 10%;
  font-size: 20px;
}

nav > a:hover {
  border-bottom: 3px solid var(--tokyo-night-4);
  color: var(--tokyo-night-5);
}
