<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1.0" />

  $if(date-meta)$
  <meta name="date" content="$date-meta$" />
  $endif$

  <meta property="og:title" content="casspace - $pagetitle$" />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:url" content="https://gregdan3.dev/$directory$" /> -->
  <meta property="og:image" content="/avatar.png" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="casspace" />
  <meta property="og:description" content="casspace, it's not theft, it's open source!" />


  <!-- $if(destination)$ -->
  <!-- <meta http-equiv="refresh" content="0;url=https://mun.la$destination$" /> -->
  <!-- $endif$ -->

  <title> Cass - $pagetitle$</title>

  <!-- <link href="https://gregdan3.dev/" rel="canonical" /> -->
  <link href="/style.css" rel="stylesheet" type="text/css" />
  <link href="/favicon.ico" rel="icon" type="image/png" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <a href="/" style="border-bottom: none"><img src="/avatar.png" alt="Cass" /></a>
    <h2><a href="/">Cassandra Cole</a></h2>
    <h3>$pagetitle$</h3>
  </header>

  <div>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="/projects.html">Projects</a>
      <!--<a href="https://mun.la">Games</a> -->
      <!-- <a href="/mind-map/">Mind Map</a> -->
      <!-- <a href="/projects/">Projects</a> -->
    </nav>
  </div>


  <div>
    <article class="main">
      $for(include-before)$ $include-before$ $endfor$ $body$
      $for(include-after)$ $include-after$ $endfor$
    </article>
  </div>



  <footer>
    <p>Licensed under
      <a href="/LICENSE.txt">GPLv3</a>.
    </p>
    <p>
      Code on
      <a href="https://github.com/Coaltar ">my GitHub</a>.
    </p>
  </footer>
  <!-- <script data-goatcounter="https://gregdan3.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
</body>

</html>
