<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1.0"
    />
    <meta property="og:title" content="gregsite - <?theme title?>" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://gregdan3.github.io/<?theme dir?><?theme source?>"
    />
    <meta property="og:image" content="/avatar.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="gregsite" />
    <meta
      property="og:description"
      content="gregsite, read because it's free"
    />
    <title>gregsite - <?theme title?></title>
    <link href="https://gregdan3.github.io/" rel="canonical" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="icon" type="image/png" />
  </head>
  <body>
    <header>
      <a href="/" style="border-bottom: none"
        ><img src="/avatar.jpg" alt="gregdan3's avatar"
      /></a>
      <h2><a href="/">gregdan3</a></h2>
      <h3><?theme title?></h3>
    </header>
    <nav>
      <a href="/">Home</a> <a href="/blog/">Blogzone</a>
      <!-- <a href="/mind-map/">Mind Map</a> -->
      <!-- <a href="/projects/">Projects</a> -->
      <a href="/toki-pona/">Toki Pona</a>
    </nav>
    <article><?theme body?></article>
    <footer>
      <p>Licensed under <a href="/LICENSE.txt">GPLv3</a>.</p>
      <p>
        Code on
        <a href="https://github.com/gregdan3/gregdan3.github.io">my GitHub</a>.
      </p>
    </footer>
  </body>
</html>
