<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, user-scalable=yes, initial-scale=1.0"
    />
    <meta property="og:title" content="gregsite - $pagetitle$" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gregdan3.dev/$directory$" />
    <meta property="og:image" content="/avatar.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="gregsite" />
    <meta http-equiv="refresh" content="0;url=https://mun.la$destination$" />
    <meta
      property="og:description"
      content="Learn Toki Pona, because it's fun and free!"
    />
    <title>gregsite - $pagetitle$</title>
    <link href="https://gregdan3.dev/" rel="canonical" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/favicon.ico" rel="icon" type="image/png" />
  </head>
  <body></body>
</html>
