@font-face {
  font-family: sp;
  src: url("/ssk.ttf");
}
span.tokipona {
  font-family: sp;
  font-size: 1.75em;
}
div.tokipona p {
  font-family: sp;
  font-size: 2em;
  padding: 2%;
}
div.tokipona table tbody tr td:nth-child(1) {
  font-family: sp;
  font-size: 2.25em;
  border: 1px solid var(--prim-ac);
  text-align: center;
}
