@font-face {
  font-family: sp;
  src: url("/ssk.ttf");
}
.tokipona {
  font-family: sp;
  font-size: 1.75em;
}
.tokipona blockquote p {
  font-size: 1.2em;
  padding: 1.5%;
}
.tpdefinitions table tbody tr td:nth-child(1) {
  font-family: sp;
  font-size: 2.25em;
  border: 1px solid var(--prim-ac);
  text-align: center;
}
